In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
from ast import literal_eval
from collections import defaultdict
%matplotlib inline

In [131]:
train = pd.read_csv('D:/train.csv')

In [132]:
train.columns
df = train

In [133]:

df['Product_Seller'] = df['Product_Name'] + ' - ' + df['Seller']
df.columns

Index(['Product_Name', 'Product_Price', 'Seller', 'Rating', 'Product_Seller'], dtype='object')

In [134]:
fdata = df[['Product_Seller','Product_Price', 'Rating']]
fdata.head()

,Product_Seller,Product_Price,Rating
0,Acer Aspire 3 UN.GNVSI.001 15.6-inch Laptop (A...,"Rs. 18,489.00",0 out of 5 stars
1,Acer Aspire 3 UN.GNVSI.001 15.6-inch Laptop (A...,"Rs. 18,489.00",3 out of 5 stars
2,Acer Aspire 3 UN.GNVSI.001 15.6-inch Laptop (A...,"Rs. 18,489.00",5 out of 5 stars
3,Acer Aspire 3 UN.GNVSI.001 15.6-inch Laptop (A...,"Rs. 18,489.00",1 out of 5 stars
4,Acer Aspire 3 UN.GNVSI.001 15.6-inch Laptop (A...,"Rs. 18,489.00",1 out of 5 stars

In [135]:
rate = fdata['Rating']
price = fdata['Product_Price']
x = rate.values
y = price.values
pr = pd.Series(x).str.replace(' out of 5 stars', '', regex=True)
fdata['Rate'] = pr
pr2 = pd.Series(y).str.replace('Rs. ', '', regex=True)
pr3 = pd.Series(pr2).str.replace(',', '', regex=True)
fdata['Price'] = pr3

C:\Users\Rahlsesite\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [136]:
fdata = fdata[['Product_Seller','Price','Rate']]

In [139]:
fdata.to_csv('D:/finData.csv')

In [141]:
fdata = pd.read_csv('D:/finData.csv')

In [144]:
fdata['Product_Price'] = fdata['Price'].astype(float)

In [145]:
fdata.col

Index(['Unnamed: 0', 'Product_Seller', 'Price', 'Rate', 'Product_Price'], dtype='object')

In [165]:
fdata = fdata[[ 'Product_Seller', 'Rate', 'Product_Price']]
fdata.head()

                                      Product_Seller  Rate  Product_Price
0  Acer Aspire 3 UN.GNVSI.001 15.6-inch Laptop (A...   0.0        18489.0
1  Acer Aspire 3 UN.GNVSI.001 15.6-inch Laptop (A...   3.0        18489.0
2  Acer Aspire 3 UN.GNVSI.001 15.6-inch Laptop (A...   5.0        18489.0
3  Acer Aspire 3 UN.GNVSI.001 15.6-inch Laptop (A...   1.0        18489.0
4  Acer Aspire 3 UN.GNVSI.001 15.6-inch Laptop (A...   1.0        18489.0

In [164]:
df  = fdata
df["Rate"] = df.groupby('Product_Seller').transform(lambda x: x.fillna(x.mean()))
df.fillna(value=0)
df.to_csv('D:/rdata.csv')