In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
from ast import literal_eval
from collections import defaultdict
%matplotlib inline
import random
from sklearn.preprocessing import MinMaxScaler
product.head()

,Product,Price,Count,Buyer_FeedBack,Courier_Rating,Product_Rating,Packaging_Rating,ALL OVER
0,"Voltas 1 Ton 3 Star Split AC (Copper, 123 CZA,...",Cloudtail India,Cloudtail India,Cloudtail India,BEST HOME RETAIL,BEST HOME RETAIL,Cloudtail India,Cloudtail India
1,"Fleejost HD Video/Audio Hidden Recording, HD S...",EagleElectronics,E-commerce Planet,IndiaMart Electronics®,IndiaMart Electronics®,EagleElectronics,ElectronicsArtGalleryEAG®,IndiaMart Electronics®
2,YI Home Camera Wireless IP Security Surveillan...,YI Technology Private Limited,eTrade Marketing P Ltd,Appario Retail Private Ltd,YI Technology Private Limited,HelloYehlo,Appario Retail Private Ltd,YI Technology Private Limited
3,ProElite IP01A WiFi Wireless HD IP Security Ca...,Appario Retail Private Ltd,Elites Accessories,Appario Retail Private Ltd,Appario Retail Private Ltd,Elites Accessories,Elites Accessories,Elites Accessories
4,A & T Hidden Micro Mini Secret Spy Pen Camera ...,IndiaMart Electronics®,IndiaMart Electronics®,IndiaMart Electronics®,IndiaMart Electronics®,IndiaMart Electronics®,IndiaMart Electronics®,IndiaMart Electronics®

In [6]:
product = pd.read_csv('D:/BestSellers.csv')
product = product[['Product', 'Price', 'Count', 'Buyer_FeedBack','Courier_Rating', 'Product_Rating', 'Packaging_Rating','ALL OVER']]
brand = pd.read_csv('D:/BestSellers_Brand_Wise.csv')
brand = brand[['Brand',  'Price', 'Count','Buyer_FeedBack','Courier_Rating', 'Product_Rating','Packaging_Rating','ALL OVER']]
data = pd.read_csv('D:/FinalDataSet.csv')
data = data[['Product', 'Brand']]
brand.head()

,Brand,Price,Count,Buyer_FeedBack,Courier_Rating,Product_Rating,Packaging_Rating,ALL OVER
0,100yellow,100yellow,100yellow,100yellow,100yellow,100yellow,100yellow,100yellow
1,2-OYSS,Rohini Retail,Rohini Retail,Rohini Retail,Rohini Retail,Rohini Retail,Rohini Retail,Rohini Retail
2,2-oyss,Rohini Retail,Rohini Retail,Rohini Retail,Rohini Retail,Rohini Retail,Rohini Retail,Rohini Retail
3,A & T,IndiaMart Electronics®,IndiaMart Electronics®,IndiaMart Electronics®,IndiaMart Electronics®,IndiaMart Electronics®,IndiaMart Electronics®,IndiaMart Electronics®
4,ADISA,ADISA International,ADISA International,ADISA International,ADISA International,ADISA International,ADISA International,ADISA International

In [7]:
drt = brand.merge(data,how='left')
drt = drt.drop_duplicates(keep="first")
drt = drt[['Product','Price', 'Count', 'Buyer_FeedBack', 'Courier_Rating','Product_Rating', 'Packaging_Rating', 'ALL OVER']]

In [8]:
drt = drt.sort_values(by='Product')
product = product.sort_values(by='Product')

In [9]:
rr = pd.merge(product,drt, on=['Product'])

In [10]:
lis = ['Price', 'Count', 'Buyer_FeedBack', 'Courier_Rating','Product_Rating', 'Packaging_Rating', 'ALL OVER']

for item in lis:
    x = item + '_x'
    y = item + '_y'
    rr[item] = rr[x] == rr[y]

In [20]:
rr = rr[['Product','Price', 'Count', 'Buyer_FeedBack','Courier_Rating', 'Product_Rating', 'Packaging_Rating', 'ALL OVER']]

rr.head()

,Product,Price,Count,Buyer_FeedBack,Courier_Rating,Product_Rating,Packaging_Rating,ALL OVER
0,100yellow Game of Thrones Quote Print Designer...,True,True,True,True,True,True,True
1,2-OYSS 10 Emoji and 10 Motivation Plastic Stam...,True,True,True,True,True,True,True
2,2-oyss Kid's Emoji Design Stamp Craft School S...,True,True,True,True,True,True,True
3,A & T Hidden Micro Mini Secret Spy Pen Camera ...,True,True,True,True,True,True,True
4,ADISA BP004 Light Weight 31 Ltrs Casual Laptop...,True,True,True,True,True,True,True

In [21]:
dataSet = rr[['Price', 'Count', 'Buyer_FeedBack','Courier_Rating', 'Product_Rating', 'Packaging_Rating', 'ALL OVER']]

In [22]:
from sklearn.model_selection import train_test_split
X = dataSet[['Price', 'Count', 'Buyer_FeedBack','Courier_Rating', 'Product_Rating', 'Packaging_Rating']].astype(int)
Y = dataSet[['ALL OVER']].astype(int)

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [34]:
from sklearn.linear_model import LogisticRegression
lm = LogisticRegression()
lm.fit(X_train,Y_train)
pred = lm.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(Y_test,pred))
print(confusion_matrix(Y_test,pred))

              precision    recall  f1-score   support

           0       0.56      0.43      0.49        21
           1       0.85      0.91      0.88        74

   micro avg       0.80      0.80      0.80        95
   macro avg       0.71      0.67      0.68        95
weighted avg       0.78      0.80      0.79        95

[[ 9 12]
 [ 7 67]]

C:\Users\Rahlsesite\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Rahlsesite\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [35]:
from sklearn.metrics import r2_score
r2_score(Y_test,pred)

-0.16151866151866123

In [37]:
r2m = []

for i in np.arange(0.,0.99,0.01)

SyntaxError: unexpected EOF while parsing (<ipython-input-37-4dd4def06162>, line 4)